body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.divContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 380px;
    padding-top: 250px;
}
.span{
    color: white;
    font-size: 40px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(52, 46, 46);
}